*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.contactUs{
    /* border: solid black 1rem; */
    display: flex;
    position: relative;
    /* padding: 1rem; */
}
.contactUsImg{
    /* border: solid rgb(85, 0, 255) 3px; */
    display: flex;
    position: relative;
    overflow: hidden;
    height: 70rem;
    object-fit: cover;
}
.contactUsImg img{
    width: 100vw;
}

.map{
    /* border: solid black 1rem; */
    display: flex;
    background-color: rgba(235, 159, 44, 0.148);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    position: relative;
    height: 50rem;
    margin-top: -3rem;
}
.map h1{
    color: maroon;
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.map iframe{
    height: 100%;
    width: 100%;
}