*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
}

/* navbar Title */
.titleContainer{
    display: flex;
    flex-shrink: 1;
    grid-column: 2/3;
    align-items: center;
    margin: 1rem 2.4rem;
}
.titleImg img{
    display: flex;
    height: 7rem;
    width: 9rem;
    border-radius: 0rem;
}

.titleName{
    margin: 0 1rem;
}

.titleName h1{
    font-size: 3rem;
}
.titleName h3{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: inherit;
}

/* navbar */
.navbar{
    position: static;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    box-sizing: border-box;
    background: rgb(51, 16, 27);
    backdrop-filter: blur(1rem);
    max-width: 100vw;
    z-index: 100;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

ul li{
    display: inline-block;
    margin: 1rem 2.4rem;
}

nav ul li a{
    text-decoration: none;
    font-size: 2.2rem;
}
/* first child */
nav ul li:hover{
    color: gold;
    position: relative;
    transform: scale(1.05);
}
nav ul li:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    height: 0.25rem; 
    background: gold;
    animation: underline 0.34s forwards;
}
@keyframes underline {
    from { width: 0; }
    to { width: 100%; }
}

.active{
    Color: gold;
}