*{
    margin: 0;
    padding: 0; 
}

.energyLawTitleImage{
    /* border: solid green 1rem; */
    display: flex;
    object-fit: cover;
    height: 70rem;
}

.energyLawTitleImage img{
    width: 100%;
}