*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 10px;
    /* background: url('backgroundImage.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}